.signin-container-left {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   width: 50vw;
   /* Full height of the viewport */
   /* background-color: #f7f7f7; */
}

.signin-form-border {
   max-width: 400px;
   width: 100%;
   /* This ensures the form takes up to 400px but not less */
   padding: 16px;
   background-color: rgba(251, 251, 251, 0.5);
   border-radius: 36px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   display: flex;
   /* flex-direction: column; */
   /* Aligns children vertically */
   align-items: center;
}

.signin-form {
   max-width: 400px;
   width: 100%;
   /* This ensures the form takes up to 400px but not less */
   margin: 0 auto;
   padding: 40px;
   background-color: rgba(251, 251, 251, 0.7);
      border-radius: 24px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   display: flex;
   flex-direction: column;
   /* Aligns children vertically */
   align-items: center;
   /* Centers children horizontally */
}

.signin-form h2 {
      margin-top: 2vh;
   padding: 10px;
      font-size: 1.5rem;
   text-align: center;
   margin-bottom: 20px;
}

.signin-form input {
   margin-top: 1vh;
   width: 95%;
   padding: 10px;
   margin-bottom: 20px;
   border: 1px solid #c7bccc;
      background-color: rgba(251, 251, 251, 0.0);
   border-radius: 10px;
   font-size: 1rem;
}

.signin-form input:focus {
   outline: none;
   /* Removes the default focus outline */
   border-color: #677fd2;
   /* Change to your preferred shade of green */
}

.signin-form button {
   /* margin-top: 10vh; */
   width: 100%;
   padding: 10px;
   border: none;
   border-radius: 10px;
   background-color: #677fd2;
   color: white;
   font-size: 1.25rem;
   cursor: pointer;
}

.signin-form button:hover {
   background-color: #677fd2;
}

.glogo {
   display: flex;
   width: 7vw;
   height: 7vw;
         margin-top: 2vh;
         margin-bottom: 3vh;

}

.error-message {
   color: red;
   text-align: center;
   margin-top: 10px;
   margin-bottom: 30px;
}